.signIn {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    height: 100vh;

    .logo {
        background: linear-gradient(98deg, #FFF 70.67%, rgba(117, 122, 140, 0.00) 108.55%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 700;
    }

    .nav {
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        z-index: 10;
        border-radius: 20px;
        background: linear-gradient(124deg, rgba(255, 255, 255, 0.00) -22.38%, rgba(255, 255, 255, 0.04) 70.38%);
        backdrop-filter: blur(21px);
        padding: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: clamp(280px, calc(100% - 40px), 990px);
        flex-wrap: wrap;

        .menuList {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 30px;

            .menuItem {
                a {
                    color: #fff;
                    text-decoration: none;
                    transition: all 0.3s ease;
                    position: relative;

                    &::before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        border-radius: 4px;
                        background-color: #f9f9f9;
                        bottom: -2px;
                        left: 0;
                        transform-origin: right;
                        transform: scaleX(0);
                        transition: transform .3s ease-in-out;
                    }

                    &:hover {
                        &::before {
                            transform-origin: left;
                            transform: scaleX(1);
                        }
                    }
                }
            }
        }
    }

    .content {
        display: flex;
        flex-direction: row;
        width: 100%;

        .bg {
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: #fff;
            background: url('../../assets/bg_signin.png'), lightgray 50%;
            background-size: cover;
            flex: 1;

            h3 {
                font-weight: 700;
                font-size: 3rem;
            }
        }

        .formWrap {
            flex: 1;
            background: linear-gradient(159deg, #0F123B 14.25%, #090D2E 56.45%, #020515 86.14%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            color: #fff;
            padding: 40px;

            .welcomeBlock {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;

                .welcomeText {
                    color: #FFF;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 130%;
                }

                .welcomeTextCaption {
                    color: var(--gray-gray-400, #A0AEC0);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%;
                    /* 19.6px */
                }
            }

            .socialList {
                display: flex;
                flex-direction: row;
                column-gap: 10px;
                text-align: center;
                justify-content: center;
            }

            .form {
                margin-top: 35px;
                row-gap: 16px;
                display: flex;
                flex-direction: column;
                text-align: center;
                justify-content: center;

                width: 100%;

                .formInput {
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;
                    width: 100%;
                    text-align: left;

                    input {
                        padding: 15px 22px;
                        border-radius: 20px;
                        border: 1px solid #fff;
                        color: #fff;
                        max-width: 100%;
                        box-sizing: border-box;
                        background: linear-gradient(117deg, rgba(255, 255, 255, 0.00) -3.91%, rgba(255, 255, 255, 0.04) 75.27%);
                        backdrop-filter: blur(21px);
                    }
                }

                .label {
                    text-align: left;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    column-gap: 10px;

                    .switch {
                        position: relative;
                        display: inline-block;
                        width: 36px;
                        height: 18px;

                        input {
                            opacity: 0;
                            width: 0;
                            height: 0;

                            &:checked {
                                +.slider {
                                    background-color: #2196F3;

                                    &::before {
                                        transform: translateX(18px);
                                    }
                                }
                            }

                            &:focus+.slider {
                                box-shadow: 0 0 1px #2196F3;
                            }
                        }

                        .slider {
                            position: absolute;
                            cursor: pointer;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background-color: #0075FF;
                            -webkit-transition: .4s;
                            transition: .4s;
                            padding: 2px;

                            &:before {
                                position: absolute;
                                content: "";
                                left: 2px;
                                height: 14px;
                                width: 14px;
                                top: 2px;
                                background-color: white;
                                -webkit-transition: .4s;
                                transition: .4s;
                            }

                            &.rounded {
                                border-radius: 34px;

                                &::before {
                                    border-radius: 50%;
                                }
                            }
                        }

                    }
                }

                .linkBlock {
                    text-align: center;

                    .link {
                        color: #FFF;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 140%;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1024px) {
    .signIn {
        flex-direction: column;

        .nav {}

        .content {
            flex-direction: column;
            max-width: 100%;

            .bg {
                max-width: 100%;
                min-height: 100vh;
            }

            .formWrap {
                max-width: calc(100%);
                display: flex;
                flex-direction: column;
                align-items: center;

                .form {
                    max-width: 100%;
                }
            }
        }
    }
}