.button {
    display: inline-block;
    text-align: center;
    border-radius: 12px;
    background-color: #0075ff;
    outline: none;
    border-color: transparent;
    padding: 15px 16px;
    min-width: max-content;
    color: #fff;
    font-weight: 700;
    cursor: pointer;

    &.sm {
        padding: 8px 10px;
    }

    &.lg {
        padding: 20px 32px;
    }

    &.full {
        width: 100%;
    }
}