.menuLink {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 1rem;
  padding: 12px 16px;
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover,
  &.active {
    border-radius: 15px;
    background-color: #1a1f37;
    box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.02);

    svg {
      color: #fff;
      background: #0075ff;
    }
  }

  svg {
    color: #0075ff;
    display: inline;
    padding: 10px;
    border-radius: 12px;
    background: #1a1f37;
    box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.02);
    transition: all 0.3s ease;
  }

  @media screen and (max-width: 768px) {
    padding-inline: 0;

    &.active,
    &:hover {
      background-color: transparent;
    }

    span {
      display: none;
    }
  }

  @media screen and (max-width: 425px) {
    display: none;
  }
}
