.gridSecond {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 16px;

    @media screen and (max-width:768px) {
        flex-direction: column;
    }
}