.topBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .breadcrumbs {
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        align-items: center;
        position: relative;

        li {

            a {
                color: #fff;
                text-decoration: none;
            }

            &:not(:last-child) {
                &::after {
                    content: '›';
                    display: inline;
                    font-size: 1.2em;
                    color: #AAA;
                    padding-left: 10px;
                }
            }
        }
    }

    .searchArea {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 18px;

        .searchContainer {
            display: flex;
            flex-direction: row;
            column-gap: 10px;
            border-radius: 15px;
            border: 1px solid rgba(226, 232, 240, 0.30);
            background-color: #0F1535;
            display: flex;
            flex-direction: row;
            column-gap: 10px;
            align-items: center;
            padding: 10px;

            .searchInput {
                background-color: transparent;
                border-color: transparent;
                outline: none;
                color: #A0AEC0;
                font-size: 12px;
            }
        }

        .link {
            color: #718096;
            column-gap: 5px;
            display: flex;
            align-items: center;
            text-decoration: none;
        }
    }
}