.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-blend-mode: color;
  background-image: url("./assets/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  z-index: -1;
  color: white;
}
